﻿@using TransCareToday.ViewModels.TableView
@model TableView<TransCareToday.Models.Provider>

@{
	ViewData["Title"] = "Index";
	var sortColumns = Json.Serialize(Model.SortColumns);
	var filterColumns = Json.Serialize(Model.FilterColumns);
}

<h2>Index</h2>

<form>
	<fieldset name="SearchVector">
		<input type="hidden" name="SearchVector-operator" id="SearchVector-operator" value="Matches" />
		<label for="SearchVector-value">Search</label>
		<input type="text" name="SearchVector-value" id="SearchVector-value" />
	</fieldset>
	<fieldset name="IsAcceptingNewPatients">
		<input type="hidden" name="IsAcceptingNewPatients-operator" id="IsAcceptingNewPatients-operator" value="Equals" />
		<label for="IsAcceptingNewPatients-value">Accepting new patients?</label>
		<select name="IsAcceptingNewPatients-value" id="IsAcceptingNewPatients-value">
			<option value="true">Yes</option>
			<option value="false">No</option>
			<option selected="selected" value="null">Either</option>
		</select>
	</fieldset>
	<button type="button" id="search-submit">Search</button>
</form>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<partial name="../Shared/_SortableHeader" model='new TableViewColumn(Model, "Name", "Name")' />
			<partial name="../Shared/_SortableHeader" model='new TableViewColumn(Model, "City", "City")' />
			<partial name="../Shared/_SortableHeader" model='new TableViewColumn(Model, "State", "State")' />
			<partial name="../Shared/_SortableHeader" model='new TableViewColumn(Model, "IsAcceptingNewPatients", "Acceping new patients?")' />
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.ProviderId">@Html.DisplayFor(modelItem => item.Name)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State)
				</td>
				<td>
					@if (item.IsAcceptingNewPatients)
					{
						@Html.DisplayText("Yes");
					}
					else
					{
						@Html.DisplayText("No");
					}
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ProviderId">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.ProviderId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="pager">
	<div>
		@if (Model.HasPreviousPage)
		{
			<a asp-route-pageIndex="@(Model.PageIndex - 1)"
			   asp-route-pageSize="@(Model.PageSize)"
			   asp-route-sortColumnsJson="@Json.Serialize(Model.SortColumns)"
			   asp-route-filterColumnsJson="@Json.Serialize(Model.FilterColumns)"
			   class="left-arrow">Back</a>
		}
	</div>
	<div>
		Page @Model.PageIndex of @Model.TotalPages
	</div>
	<div>
		Items per page:
		<form method="get">
			<input type="hidden" name="pageIndex" value="@(Model.PageIndex)" />
			<input type="hidden" name="oldPageSize" value="@(Model.PageSize)" />
			<input type="hidden" name="sortColumnsJson" value="@Json.Serialize(Model.SortColumns)" />
			<input type="hidden" name="filterColumnsJson" value="@Json.Serialize(Model.FilterColumns)" />
			<input asp-for="PageSize" name="pageSize" class="current-page" min="1" />
			<input type="submit" value="Go" class="btn btn-default" />
		</form>
	</div>
	<div>
		@if (Model.HasNextPage)
		{
			<a asp-route-pageIndex="@(Model.PageIndex + 1)"
			   asp-route-pageSize="@(Model.PageSize)"
			   asp-route-sortColumnsJson="@Json.Serialize(Model.SortColumns)"
			   asp-route-filterColumnsJson="@Json.Serialize(Model.FilterColumns)"
			   class="right-arrow">Forward</a>
		}
	</div>
</div>

@section Scripts {
	<script>
		function initSubmit(button) {
			let form = button.closest("form");
			button.prop("type", "submit");
			form.submit(function (e) {
				e.preventDefault();
				let form = $(this);
				let fieldsets = form.children("fieldset");
				let filterColumns = [];
				for (let fieldset of fieldsets) {
					fieldset = $(fieldset);
					let filterColumn = {};
					filterColumn.Column = fieldset.attr("name");
					filterColumn.Operator = fieldset.find("#" + filterColumn.Column + "-operator").val();
					filterColumn.Value = fieldset.find("#" + filterColumn.Column + "-value").val();
					if (filterColumn.Value === "") filterColumn.Value = null;
					if (filterColumn.Value === "null") filterColumn.Value = null;
					if (filterColumn.Value === "true") filterColumn.Value = true;
					if (filterColumn.Value === "false") filterColumn.Value = false;
					if (/^-?[0-9]+$/.test(filterColumn.Value)) filterColumn.Value = parseInt(filterColumn.Value, 10);
					if (filterColumn.Value !== null) filterColumns.push(filterColumn);
				}

				let dummyForm = $("<form style='display: none;'>");
				dummyForm.append($("<input type='hidden' name='pageIndex' value='@(Model.PageIndex)' />"));
				dummyForm.append($("<input type='hidden' name='pageSize' value='@(Model.PageSize)' />"));

				sortColumnsInput = $("<input type='hidden' name='sortColumnsJson' />");
				sortColumnsInput.val('@Json.Serialize(Model.SortColumns)');
				dummyForm.append(sortColumnsInput);
				
				filterColumnsInput = $("<input type='hidden' name='filterColumnsJson' />");
				filterColumnsInput.val(JSON.stringify(filterColumns));
				dummyForm.append(filterColumnsInput);

				dummyForm.appendTo('body').submit();
			});
		}

		initSubmit($("#search-submit"));
	</script>
}
