@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
	<div class="col-md-6">
		<form id="change-password-form" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="OldPassword"></label>
				<input asp-for="OldPassword" class="form-control" />
				<span asp-validation-for="OldPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NewPassword"></label>
				<input asp-for="NewPassword" class="form-control" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="button" id="change-password-submit" class="btn btn-default">Update password</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function initSubmit(button) {
			let form = button.closest("form");
			button.prop("type", "submit");
			form.submit($("#register").validate(), function (e) {
				e.preventDefault();
				let form = $(this);
				let validator = e.data;

				$("[data-valmsg-summary=true] li").remove();
				if (form.valid() === false) {
					validator.focusInvalid();
					return;
				}

				let buttonContent = submit.html();
				button.html("Submitting...");
				button.prop("disabled", true);

				let oldHashPromise = hashPassword(lockbox, $("[name='OldPassword']")[0].value);

				let changePasswordPromise = changeLockboxPassword(lockbox, $("[name='OldPassword']")[0].value, $("[name='NewPassword']")[0].value)

				let newHashPromise = changePasswordPromise.then(function (lockbox) {
					return hashPassword(lockbox, $("[name='NewPassword']")[0].value);
				});

				let formDataPromise = Promise.all([changePasswordPromise, newHashPromise, oldHashPromise]).then(function (values) {
					let lockbox = values[0];
					newHash = Base64.encode(values[1]);
					oldHash = Base64.encode(values[2]);

					let formData = new FormData();
					formData.append("VerificationToken", $("[name='__RequestVerificationToken']")[0].value);
					formData.set("NewHashedPassword", newHash);
					formData.set("OldHashedPassword", oldHash);
					addLockboxToFormData(formData, lockbox);
					return formData;
				});

				let fetchPromise = formDataPromise.then(function (formData) {
					return fetch("/api/User/change-password", {
						method: "POST",
						mode: "same-origin",
						cache: "no-cache",
						credentials: "same-origin",
						redirect: "follow",
						referrer: "client",
						body: formData
					})
				});

				Promise.all([changePasswordPromise, fetchPromise]).then(function (values) {
					let lockbox = values[0];
					let response = values[1];
					if (!response.ok) {
						return response.json().then(function (json) {
							try {
								validator.showErrors(json);
							} catch {

							} qa	
							if (typeof json === "object") {
								for (let key in json) {
									addGlobalError(json[key]);
								}
							} else {
								throw "Something went wrong. Please try again.";
							}
						});
					} else {
						return response.json().then(function (json) {
							saveLockbox(lockbox);

							if (typeof json === "object" && json.returnUrl) {
								window.location.href = json.returnUrl;
							} else {
								window.location.href = "/";
							}
						});
					}

				}).catch(function (ex) {
					addGlobalError(ex);
				}).finally(function () {
					button.prop("disabled", false);
					button.html(buttonContent);
				});
			});
		}

		function addGlobalError(text) {
			let container = $("[data-valmsg-summary=true]");
			let list = container.find("ul");

			if (list && list.length) {
				container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
				$("<li />").html(text).appendTo(list);
			}
		}

		function addLockboxToFormData(formData, lockbox) {
			formData.append("PasswordSalt", Base64.encode(lockbox.passwordSalt));
			formData.append("PasswordIterationCount", lockbox.passwordIterationCount);
			formData.append("PasswordHashFunction", lockbox.passwordHashFunction);

			formData.append("KeySalt", Base64.encode(lockbox.keySalt));
			formData.append("KeyIterationCount", lockbox.keyIterationCount);
			formData.append("KeyHashFunction", lockbox.keyHashFunction);

			formData.append("EncryptedDecryptionKey", Base64.encode(lockbox.encryptedDecryptionKey));
			formData.append("EncryptionKey", Base64.encode(lockbox.encryptionKey));
			formData.append("EncryptedSigningKey", Base64.encode(lockbox.encryptedSigningKey));
			formData.append("VerificationKey", Base64.encode(lockbox.verificationKey));
			formData.append("EncryptedSymmetricKey", Base64.encode(lockbox.encryptedSymmetricKey));

			formData.append("DecryptionKeyIv", Base64.encode(lockbox.decryptionKeyIv));
			formData.append("SigningKeyIv", Base64.encode(lockbox.signingKeyIv));
			formData.append("SymmetricKeyIv", Base64.encode(lockbox.symmetricKeyIv));
		}

		initSubmit($("#change-password-submit"));
	</script>
}
