﻿.left-arrow::before,
.right-arrow::after,
.up-arrow::after,
.down-arrow::after {
	content: "";
	border: .75ex solid transparent;
	display: inline-block;
}

.left-arrow::before {
	margin-right: .75ex;
}

.right-arrow::after,
.up-arrow::after,
.down-arrow::after {
	margin-left: .75ex;
}

.up-arrow::after,
.down-arrow::after {
	position: relative;
}

.up-arrow::after {
	top: calc(-.75em / 4);
}

.down-arrow::after {
	top: calc(.75em / 4);
}

.left-arrow::before {
	border-right-color: inherit;
}

.right-arrow::after {
	border-left-color: inherit;
}

.up-arrow::after {
	border-bottom-color: inherit;
}

.down-arrow::after {
	border-top-color: inherit;
}
