﻿.pager {
	font-size: 90%;
	font-family: "Open Sans Condensed";
	overflow: hidden;
	margin-bottom: 10px;
	display: flex;
	align-items: baseline;
}

	.pager a {
		text-decoration: none;
		display: inline-block;
	}

	.pager > * {
		flex: 1 1 0;
		text-align: center;
	}

		.pager > *:first-child {
			text-align: left;
		}

		.pager > *:last-child {
			text-align: right;
		}

	.pager .current-page {
		width: 5em;
		text-align: center;
		padding-left: .75em;
	}

	.pager form {
		margin: 0;
		display: inline-block;
	}

	.pager input[type="submit"] {
		padding: 1px 8px;
		margin-left: .5em;
		position: relative;
		top: -1px;
	}

@media (max-width: 500px) {
	.pager {
		flex-direction: column;
	}

		.pager > * {
			text-align: left;
			margin-bottom: 5px;
		}
}
