﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

footer p {
	display: inline-block;
}

footer ul {
	display: inline-block;
	padding: 0;
}

footer li {
	display: inline-block;
	margin-left: 1em;
}

.home-progress {
	display: flex;
	margin: .5em;
	padding: 0;
}

	.home-progress li {
		line-height: 0;
		display: inline-block;
		flex-grow: 1;
		flex-shrink: 0;
	}

		.home-progress li + li {
			margin-left: -15px;
		}

		.home-progress li::after {
			display: inline-block;
			line-height: 0;
			content: "\feff";
			border: 10px solid transparent;
			border-left-color: darkgrey;
		}

		.home-progress li a {
			border: 10px solid darkgrey;
			border-left-color: transparent;
			line-height: 0;
			display: inline-block;
			padding-left: 10px;
			width: calc(100% - 20px);
			text-align: center;
			color: #333;
		}

		.home-progress li.current::after {
			border-left-color: lightblue;
		}

		.home-progress li.current a {
			border-color: lightblue;
			border-left-color: transparent;
		}

		.home-progress li.current ~ li::after {
			border-left-color: lightgrey;
		}

		.home-progress li.current ~ li a {
			border-color: lightgrey;
			border-left-color: transparent;
		}
