﻿form.survey {
	margin: 0.25em;
}

	form.survey span {
		display: block;
	}

	form.survey label {
		margin-left: 0.5em;
	}

	form.survey input, form.survey select {
		margin-left: 0.5em;
	}

	form.survey button {
		display: block;
	}

form.editor {
	margin: 0.25em;
}

	form.editor fieldset {
		border: 1px solid lightgray;
		background: #efefef;
		margin: 5px -1px;
	}

	form.editor button {
		margin: 0.25em 0 0.25em .5em;
	}

	form.editor label {
		margin-left: 0.5em;
		font-weight: normal;
	}

	form.editor input, form.editor select {
		margin-left: 0.5em;
	}

	form.editor section {
		border: 1px solid lightgray;
		margin: 1.05em 0.25em 0.25em;
		background: #f7f7f7;
	}

		form.editor section > label:first-of-type {
			font-weight: bold;
			position: relative;
			top: -0.85em;
			margin-bottom: 0;
			background: white;
		}

	form.editor div.buttons {
	}
