@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
	<div class="col-md-4">
		<section>
			<form method="post" id="login">
				<h4>Use a local account to log in.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Email"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input asp-for="Password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label asp-for="RememberMe">
							<input asp-for="RememberMe" />
							@Html.DisplayNameFor(m => m.RememberMe)
						</label>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" id="login-submit">Log in</button>
				</div>
				<div class="form-group">
					<p>
						<a asp-page="./ForgotPassword">Forgot your password?</a>
					</p>
					<p>
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
					</p>
				</div>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function initSubmit(button) {
			button.click($("#register").validate(), function (e) {
				let submit = $(this);
				let form = $(this.form);
				let validator = e.data;

				$("[data-valmsg-summary=true] li").remove();
				if (form.valid() === false) {
					validator.focusInvalid();
					return;
				}

				let buttonContent = submit.html();
				submit.html("Submitting...");
				submit.prop("disabled", true);

				let formData = new FormData();
				formData.append("Email", $("[name='Email']")[0].value);
				formData.append("VerificationToken", $("[name='__RequestVerificationToken']")[0].value);

				let challengePromise = fetch("/api/User/challenge", {
					method: "POST",
					mode: "same-origin",
					cache: "no-cache",
					credentials: "same-origin",
					redirect: "follow",
					referrer: "client",
					body: formData
				});

				let jsonPromise = challengePromise.then(function (response) {
					return response.json();
				}).catch(function (ex) {
					addGlobalError(ex);
				});

				Promise.all([challengePromise, jsonPromise]).then(function (values) {
					let response = values[0];
					let json = values[1];

					if (!response.ok) {
						handleError(json)
						throw null;
					}
					let challenge = parseChallenge(json);

					let hashPromise = hashPassword(challenge, $("[name='Password']")[0].value);

					let formDataPromise = hashPromise.then(function (hash) {
						let formData = new FormData();
						formData.append("Email", $("[name='Email']")[0].value);
						formData.append("VerificationToken", $("[name='__RequestVerificationToken']")[0].value);
						formData.set("HashedPassword", Base64.encode(hash));
						return formData;
					});

					let loginPromise = formDataPromise.then(function (formData) {
						return fetch("/api/User/sign-in", {
							method: "POST",
							mode: "same-origin",
							cache: "no-cache",
							credentials: "same-origin",
							redirect: "follow",
							referrer: "client",
							body: formData
						});
					});

					let jsonPromise = loginPromise.then(function (response) {
						return response.json();
					}).catch(function (ex) {
						addGlobalError(ex);
					});
					return Promise.all([loginPromise, jsonPromise]);
				}).then(function (values) {
					let response = values[0];
					let json = values[1];

					if (!response.ok) {
						handleError(json)
						throw null;
					}
					let lockboxPromise = fetch("/api/User/lockbox", {
						method: "GET",
						mode: "same-origin",
						cache: "no-cache",
						credentials: "same-origin",
						redirect: "follow",
						referrer: "client"
					});

					let jsonPromise = lockboxPromise.then(function (response) {
						return response.json();
					}).catch(function (ex) {
						addGlobalError(ex);
					});

					return Promise.all([lockboxPromise, jsonPromise]);
				}).then(function (values) {
					let response = values[0];
					let json = values[1];

					if (!response.ok) {
						handleError(json);
						throw null;
					}
					let lockbox = parseLockbox(json);
					saveLockbox(lockbox);

					if (typeof json === "object" && json.returnUrl) {
						window.location.href = json.returnUrl;
					} else {
						window.location.href = "/";
					}
				}).catch(function (ex) {
					if (ex !== null) addGlobalError(ex);
				}).finally(function () {
					submit.prop("disabled", false);
					submit.html(buttonContent);
				});;
			});
		}

		function handleError(json) {
			try {
				validator.showErrors(json);
			} catch {

			}
			if (typeof json === "object") {
				for (let key in json) {
					addGlobalError(json[key]);
				}
			} else {
				throw "Something went wrong. Please try again.";
			}
		}

		function addGlobalError(text) {
			let container = $("[data-valmsg-summary=true]");
			let list = container.find("ul");

			if (list && list.length) {
				container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
				let li = $("<li>");
				li.append(text);
				list.append(li);
			}
		}

		initSubmit($("#login-submit"));
	</script>
}
