@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
	<div class="col-md-4">
		<form method="post" id="register">
			<h4>Create a new account.</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" autocomplete="username email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password"></label>
				<input asp-for="Password" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ConfirmPassword"></label>
				<input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="button" id="register-submit" class="btn btn-default">Register</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		function initSubmit(button) {
			let form = button.closest("form");
			button.prop("type", "submit");
			form.submit($("#register").validate(), function (e) {
				e.preventDefault();
				let form = $(this);
				let validator = e.data;

				$("[data-valmsg-summary=true] li").remove();
				if (form.valid() === false) {
					validator.focusInvalid();
					return;
				}

				let buttonContent = button.html();
				button.html("Submitting...");
				button.prop("disabled", true);

				let lockboxPromise = createLockbox($("[name='Password']")[0].value);;

				let hashPromise = lockboxPromise.then(function (lockbox) {
					return hashPassword(lockbox, $("[name='Password']")[0].value);
				});

				let formDataPromise = Promise.all([lockboxPromise, hashPromise]).then(function (values) {
					let lockbox = values[0];
					let hash = Base64.encode(values[1]);

					let formData = new FormData();
					formData.append("Email", $("[name='Email']")[0].value);
					formData.append("VerificationToken", $("[name='__RequestVerificationToken']")[0].value);
					formData.set("HashedPassword", hash);
					addLockboxToFormData(formData, lockbox);
					return formData;
				});


				let fetchPromise = formDataPromise.then(function (formData) {
					return fetch("/api/User", {
						method: "POST",
						mode: "same-origin",
						cache: "no-cache",
						credentials: "same-origin",
						redirect: "follow",
						referrer: "client",
						body: formData
					})
				});

				let jsonPromise = fetchPromise.then(function (response) {
					return response.json();
				}).catch(function (ex) {
					addGlobalError(ex);
				});

				Promise.all([lockboxPromise, fetchPromise, jsonPromise]).then(function (values) {
					let lockbox = values[0];
					let response = values[1];
					let json = values[2];

					if (!response.ok) {
						try {
							validator.showErrors(json);
						} catch {

						}
						if (typeof json === "object") {
							for (let key in json) {
								addGlobalError(json[key]);
							}
						} else {
							throw "Something went wrong. Please try again.";
						}
					} else {
						saveLockbox(lockbox);

						if (typeof json === "object" && json.returnUrl) {
							window.location.href = json.returnUrl;
						} else {
							window.location.href = "/";
						}
					}
				}).catch(function (ex) {
					addGlobalError(ex);
				}).finally(function () {
					button.prop("disabled", false);
					button.html(buttonContent);
				});
			});
		}

		function addGlobalError(text) {
			let container = $("[data-valmsg-summary=true]");
			let list = container.find("ul");

			if (list && list.length) {
				container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
				let li = $("<li>");
				li.append(text);
				list.append(li);
			}
		}

		function addLockboxToFormData(formData, lockbox) {
			formData.append("PasswordSalt", Base64.encode(lockbox.passwordSalt));
			formData.append("PasswordIterationCount", lockbox.passwordIterationCount);
			formData.append("PasswordHashFunction", lockbox.passwordHashFunction);

			formData.append("KeySalt", Base64.encode(lockbox.keySalt));
			formData.append("KeyIterationCount", lockbox.keyIterationCount);
			formData.append("KeyHashFunction", lockbox.keyHashFunction);

			formData.append("EncryptedDecryptionKey", Base64.encode(lockbox.encryptedDecryptionKey));
			formData.append("EncryptionKey", Base64.encode(lockbox.encryptionKey));
			formData.append("EncryptedSigningKey", Base64.encode(lockbox.encryptedSigningKey));
			formData.append("VerificationKey", Base64.encode(lockbox.verificationKey));
			formData.append("EncryptedSymmetricKey", Base64.encode(lockbox.encryptedSymmetricKey));

			formData.append("DecryptionKeyIv", Base64.encode(lockbox.decryptionKeyIv));
			formData.append("SigningKeyIv", Base64.encode(lockbox.signingKeyIv));
			formData.append("SymmetricKeyIv", Base64.encode(lockbox.symmetricKeyIv));
		}

		initSubmit($("#register-submit"));
	</script>
}
