﻿@{
	ViewData["Title"] = "Home Page";
}
<ul class="home-progress">
	<li><a asp-area="" asp-controller="Providers" asp-action="Index">Find a provider</a></li>
	<li class="current"><a asp-area="" asp-controller="Home" asp-action="About">Complete forms</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Schedule an appointment</a></li>
	<li><a asp-area="" asp-controller="Home" asp-action="Contact">Meet with your doctor</a></li>
</ul>