﻿@using TransCareToday.ViewModels.TableView
@model TableViewColumn

@{
	var cols = Model.Parameters.SortColumns;
	var direction = cols.Any() && cols.First().Column == Model.Column
		? cols.First().Descending ? "down-arrow" : "up-arrow"
		: "";
}

<th>
	<a asp-route-pageIndex="@(Model.Parameters.PageIndex)"
	   asp-route-pageSize="@(Model.Parameters.PageSize)"
	   asp-route-sortColumnsJson="@Json.Serialize(Model.Parameters.SortColumns.SortBy(Model.Column))"
	   asp-route-filterColumnsJson="@Json.Serialize(Model.Parameters.FilterColumns)"
	   class="sort @direction">@Model.Display</a>
</th>